* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(imagens/fundo-galeri.png);
}

.image-slider {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    border:2px solid rgba(0, 255, 242, 0.527);
}

.image-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-slider img.active {
    opacity: 1;
}

.image-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.image-slider .prev {
    left: 10px;
}

.image-slider .next {
    right: 10px;
}
