@charset "UTF-8";

/* cores Site  
cor1 - #000000
cor2 - #AD7E17
cor3 - #D69200
*/

*{
    margin: 0px;
    padding: 0px;
}

header {
    color :rgb(12, 12, 12);
    background-image: url(../imagens/header/Sem\ título.png);
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    display: flexbox;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    

}

menu { 
    background-color: #AD7E17;
    width: 100vw;

    
}

 menu > ul > li > a {
    
    background-color: 101010;
    color: #ffffff;
    text-decoration: none;
       
}



menu > ul > li {
    display: inline-block;
    margin: auto;
    margin-right: 20px;
    width:190px;
    text-align: center;
    font-size: 20px;
    
}

menu > ul > li > a:hover {
    background-color:rgb(255, 255, 255);
    transition: 0.5s;
    border: 1px solid #AD7E17;
    border-radius: 0.5px;
    color: #AD7E17;
    padding: 4px;
}



header  > .itemrede1 > a > img {
        width: 30px;
        height:30px;
        border-radius: 50%;
        margin-top: 25px;
        margin-left: 25px;  
}
header > .itemrede1 > a {
    text-decoration: none;
    color: #ffe908;

}

header >.itemrede1 {
    display: flex;
    justify-content: space-between;
    
       
}

header >  .itemrede2 > a > img {
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 25px;  
}

header > .itemrede2 > a {
    text-decoration: none;
    color: #ffe908;

}

header > .itemrede2{
    display: flex;
    justify-content: space-between;

}



body{
background-color:rgb(250, 250, 250);
overflow-x: hidden;
}

div#container { 
    padding-top: 20px;
    background-color:#ffffff ;
    display:flex;
    height: 600px;
    width: 100vw ;
   
}

div#baner1 { 
    
    border: 4px solid #AD7E17;
    
    margin-right: 15px;
    background-position: center center;
    background-size: cover;  
    background-image: url(../imagens/mostruarios/pexels-andrea-piacquadio-3755706.jpg);
    display: block;
    width: 50%;
    
    
}

body > div#container > div#baner1 > a {
    display: flex;
    margin: auto;

}

div#baner2 { 
    border: 4px solid #AD7E17;v
    background-position: center center;
    background-size: cover; 
    background-image: url(../imagens/transição/pexels-luca-nardone-3651597.jpg);
    display: block;
    width: 50%;
    
}

a.link_baner1 {
    color: #ffe908;
    text-decoration: none;
    font-size: 3em;
    padding-top: 50%;
    padding-left: 20%;
    text-shadow: 2px 2px 1px black;
}

a.link_baner2 {
    
    color:#ffe908;
    text-decoration: none;
    font-size: 3em;
    padding-top: 50%;
    padding-left: 20%;
    text-shadow: 2px 2px 1px black;
}

.artigo{
    width: 100vw;
    
}

.artigo > h1 {
    font-size: 3em;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
    filter: drop-shadow(8px 7px 8px rgba(196, 129, 7, 0.722));
    

}

.artigo > p {
    display: inline-block;
    font-family: sans-serif;
    line-height: 2;
    height: 400px;
    width: 80vw ;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid #AD7E17;
    columns: 2;
    margin-left: 10%;
}

main{ 
    margin: auto;
}



