@charset "UTF-8";

/* cores Site  
cor1 - #000000
cor2 - #AD7E17
cor3 - #D69200
*/

*{
    margin: 0px;
    padding: 0px;
}

header {
    color:#AD7E17;
    background-image: url(../imagens/header/Sem\ título.png);
    width: 100vw;
    height: 300px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

}
menu { 

    padding-top: 280px;
}

 menu > ul > li > a {
    background-color: 101010;
    color: #ffe908;
    text-decoration: none;
       
}
menu > ul > li {
   
    display: inline;
    margin-right: 20px;
    
}

menu > ul > li > a:hover {
    background-color:rgba(255, 255, 255, 0.445);
    transition: 1s;
    border: 1px solid white;
    border-radius: 0.5px;
}



body{

}

div#container { 
    display: flex;
    height: 600px;
    
}

div#baner1 { 
    background-position: center center;
    background-size: cover;  
    background-image: url(../imagens/mostruarios/pexels-andrea-piacquadio-3755706.jpg);
    display: block;
    width: 50%;
    
}

body > div#container > div#baner1 > a {

    display: block;
    margin: auto;

}

div#baner2 { 
    background-position: center center;
    background-size: cover; 
    background-image: url(../imagens/transição/pexels-luca-nardone-3651597.jpg);
    display: block;
    width: 50%;
    
}

a.link_baner1 {
    color: #ffe908;
    text-decoration: none;
    font-size: 3em;
    padding-top: 50%;
    padding-left: 20%;
    text-shadow: 2px 2px 1px black;
}

a.link_baner2 {
    
    color:#ffe908;
    text-decoration: none;
    font-size: 3em;
    padding-top: 50%;
    padding-left: 20%;
    text-shadow: 2px 2px 1px black;
}

