@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



body{
    background-image: url(../imagens/fundos/fundo-fio-duplo.jpg);
    background-position: center center;
    background-size: cover;
    
}
.menu-bar{
    display: inline;
    height: 80px;
    width: 100vw;
    background-color:transparent;
    color: #ffea00;
}
.menu-bar > h1 {
    display: inline;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.553);
}

.menu-bar > .logo{
    width: 50px;
    height: 60px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 3px;
    animation: rodando 1.5s infinite alternate;   
    
} 
@keyframes rodando {
0% {
transform: rotateY(0deg);
}
100% {
transform:rotateY(360deg);
}
}

.menu-bar > span{
display: inline-block;
margin-left:1090px;
border: 1px solid yellow;
background-color: yellow;
color: black;
padding: 5px;
border-radius:15%;
text-decoration: none;
font-size: large;
font-weight: bolder;
}

.menu-bar > span > a {
text-decoration: none;
color: black;
}
    


body > h1 {
    padding-top:5px ;
    text-align: center;
    color: rgba(255, 255, 255, 0.914);
    text-shadow:2px 2px 2px red;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.21);
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
    
    
}
.container > .produto1 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-1.jpeg);
    margin: 10px 
}

.produto1 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.226);
    color:rgba(0, 0, 0, 0.866)
    
}
.container > .produto2 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-2.jpeg);
    margin: 10px 
}
    .produto2 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color:rgba(255, 255, 255, 0.866)
    }

    .container > .produto3 {
        width: 10%;
        background-size: cover;
        background-image: url(../imagens/produtos/fio-duplo/camisa-3.jpeg);
        margin: 10px 
    }

.produto3 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color:rgba(255, 255, 255, 0.866)
    
}

.container > .produto4 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-4.jpeg);
    margin: 10px 
}
    
    .produto4 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color:rgba(255, 255, 255, 0.866)
    
}


.container > .produto5 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-5.jpeg);
    margin: 10px 
}
    
    .produto5 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color:rgba(255, 255, 255, 0.866)
    
}


.container > .produto6 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-6.jpeg);
    margin: 10px 
}
    
    .produto6 > h2{
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color:rgba(255, 255, 255, 0.866)
    
}

.container > .produto7 {
    width: 10%;
    background-size: cover;
    background-image: url(../imagens/produtos/fio-duplo/camisa-7.jpeg);
    margin: 10px 
}
footer {
    box-shadow:inset 0px 0px 13px 0px white;
    display: block;
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 100px;
}
#container-fot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 width: 100%;
    
}
#container-fot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 width: 100%;
    
}

.logo-pe {


    width: 200px;
    height: 200px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 4%;
    animation: rodando 1.5s infinite alternate;   
    
} 

.letras-f {
    margin-top: 13%;
    color: rgb(219, 223, 7);
    font-size: 3em;

}