*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../imagens/fundos/fundo-fio-duplo.jpg);
    background-position: center center;
    background-size: cover;
}

.menu-bar{
    display: inline;
    height: 80px;
    width: 100vw;
    background-color:transparent;
    color: #ffea00;
}
.menu-bar > h1 {
    display: inline;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.553);
}

.menu-bar > .logo{
    width: 50px;
    height: 60px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 3px;
    animation: rodando 1.5s infinite alternate;   
} 
@keyframes rodando {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.menu-bar > span{
    display: inline-block;
    margin-left:1090px;
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius:15%;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}

.menu-bar > span > a {
    text-decoration: none;
    color: black;
}

body > h1 {
    padding-top:5px ;
    text-align: center;
    color: rgba(255, 255, 255, 0.914);
    text-shadow:2px 2px 2px red;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.123);
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
}

.produto {
    width: 10%;
    height: 200px;
    perspective: 1000px;
    margin: 10px;
}



.produto-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.produto:hover .produto-inner {
    transform: rotateY(180deg);
}

.produto-front, .produto-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid #fff;
    border-radius: 12px;
}

.produto-front {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.produto-back {
    background-color: rgba(255, 0, 0, 0.979);
    color: rgba(0, 0, 0, 0.866);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: ce;
}

footer {
    box-shadow: inset 0px 0px 13px 0px white;
    display: block;
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

#container-fot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.logo-pe {
    width: 200px;
    height: 200px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 4%;
    animation: rodando 1.5s infinite alternate;   
} 

.letras-f {
    margin-top: 13%;
    color: rgb(219, 223, 7);
    font-size: 3em;
}

.produto:nth-child(1) .produto-front {
    background-image: url(../imagens/produtos/fio-duplo/camisa-1.jpeg);
    color: #fff;
}
.produto:nth-child(1) .produto-back  {
    background-image: url(../imagens/produtos/fio-duplo/camisa-1.jpeg);
    color: #fff;
    
}
.produto:nth-child(2) .produto-front {
    background-image: url(../imagens/produtos/fio-duplo/camisa-2.jpeg);
}
.produto:nth-child(2) .produto-back  {
    background-image: url(../imagens/produtos/fio-duplo/camisa-1.jpeg);
}