@charset "UTF-8";

/* Paleta de cores 

verde : #49a09d
lilas : #5f2c82

*/
*{
    padding: 0px;
    margin: 0px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    box-sizing: border-box;
}

body,html {
    background-image: url(../imagens/pexels-maria-orlova-4947752.jpg);
    height: 100vh;
    width: 100vw;
    background-position: center center ;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#loguin {
    position: absolute;
    background-color: #ad7d17ce;
    width: 250px;
    height: 500px;
    border-radius: 20px ; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

section#loguin > div#imagem { 
 background-image: url(../imagens/logo-simons.jpg);   
 height: 200px;
 background-size: cover;
 border-radius: 20px 20px 0px 0px;
 box-shadow: 0px 0px 10px 10px black;
}

section#loguin > div#formulario > h1{
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.527);

}

form { 
    padding-top: 15px;
}

input#isenha {
    margin-left: 11px;
}

input#enviar { 
    background-color: black;
    color: #ad7d17;
    width: 80px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 30%;
    padding: 3px;
    font-size: 15px;
}