@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/fundos/fundo-fio-duplo.jpg);
    background-position: center center;
    background-size: cover;
}

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100vw;
    background-color: transparent;
    color: #ffea00;
    padding: 0 10px;
}

.menu-bar > h1 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.553);
}

.menu-bar > .logo {
    width: 50px;
    height: 60px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rodando 1.5s infinite alternate;   
}

@keyframes rodando {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.menu-bar > span {
    border: 1px solid yellow;
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 15%;
    text-decoration: none;
    font-size: large;
    font-weight: bolder;
}

.menu-bar > span > a {
    text-decoration: none;
    color: black;
}

body > h1 {
    padding-top: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.914);
    text-shadow: 2px 2px 2px red;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.21);
    margin: 25px;
    padding: 25px;
    border-radius: 30px;
}

.produto {
    margin: 4px;
    width: 150px;
    height: 170px;
    background-color: rgba(255, 255, 255, 0.819);
    border-radius: 30px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.produto > h2 {
    text-align: center;
    border: white solid 1px;
    border-radius: 12px;
    width: 65px;
    margin-top: 125px;
    margin-left: 38px;
    background-color: rgba(255, 0, 0, 0.336);
    color: rgba(255, 255, 255, 0.866);
}

.produto1 { background-image: url(/imagens/produtos/camisa-1.jpeg) }
.produto2 { background-image: url(/imagens/produtos/camisa-2.jpeg); }
.produto3 { background-image: url(../imagens/produtos/camisa-3.jpeg); }
.produto4 { background-image: url(../imagens/produtos/camisa-4.jpeg); }
.produto5 { background-image: url(../imagens/produtos/camisa-1.jpeg); }
.produto6 { background-image: url(/imagens/produtos/camisa-6.jpeg); }

footer {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 13px 0px white;
    margin-top: 100px;
}

#container-fot {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo-pe {
    width: 200px;
    height:200px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: rodando 1.5s infinite alternate;
}

.letras-f {
    margin: 0 10px;
    color: yellow;
    font-size: 3em;
    font-family: 'Arial', sans-serif;
}

/* Media Query */
@media (max-width: 768px) {
    .menu-bar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .menu-bar > h1 {
        margin-top: 5px;
        padding-left:30%;
        padding-top: 10px;
        text-align: center;
    }

    .menu-bar > .logo {
        margin-left: 45%;
        margin-top: 20px;
        height: 100px;
        
    }

    .menu-bar > span {
        margin-left: 35%;
        margin-top: 10%;
        padding: 10px;
        margin-bottom: 20%;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
        padding: 10px;
    }
    .container > .produto1  {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-1.jpeg);
        margin: 10px 
    }
    .container > .produto2  {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-2.jpeg);
        margin: 10px 
    }
    .container > .produto3  {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-3.jpeg);
        margin: 10px 
    }
    .container > .produto4  {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-4.jpeg);
        margin: 10px 
    }
    .container > .produto5 {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-5.jpeg);
        margin: 10px 
    }
    .container > .produto6  {
        width: 120px;
        height: 152px;
        border-radius: 30px;
        background-size: cover;
        background-image: url(../imagens/produtos/peruana/camisa-6.jpeg);
        margin: 10px 
    }
    footer {
        height: auto;
        padding: 20px 0;
    }

    #container-fot {
        flex-direction: row;
        align-items: center;
    }

    .logo-pe {
        width: 50px;
        height: 50px;
    }

    .letras-f {
        font-size: 1em;
        margin-top: 10px;
    }
}
