@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* cores Site  
cor1 - #000000
cor2 - #AD7E17
cor3 - #D69200
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

header {
    color: rgb(12, 12, 12);
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 668px;
}

nav.menu {
    background-color: #AD7E17;
    width: 100%;
}

nav.menu  > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

nav.menu  > ul > li {
    margin: auto;
    text-align: center;
    font-size: 16px; /* Ajuste o tamanho da fonte para dispositivos móveis */
    width: auto;
}

nav.menu  > ul > li > a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

nav.menu  > ul > li > a:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    color: #AD7E17;
}

body {
    background-color: rgb(250, 250, 250);
}

.titulo-baner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#banner-container {
    margin-top: 5%;
    margin-left: 5%;
    width: 45%;
    height: 15%;
    position: relative;
    object-fit: cover;
}

.titulo-baner > h1 {
    margin-top: 2%;
    font-family: "Lobster", sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 3em;
}

.baner-img {
    border: 5px solid #AD7E17;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    border-radius: 50%;
}

.artigo {
    width: 100vw;
    padding: 0 10px;
    box-sizing: border-box;
}

.artigo > h1 {
    font-size: 3em;
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    text-align: center;
    filter: drop-shadow(8px 7px 8px rgba(196, 129, 7, 0.722));
}

.artigo > p {
    display: inline-block;
    font-family: sans-serif;
    line-height: 2.5;
    height: 300px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid #AD7E17;
    columns: 2;
    margin-left: 10%;
    margin-bottom: 5%;
}

main {
    margin: auto;
}

.divisao {
    width: 97%;
    height: 300px;
    background-image: url(../imagens/logo-simons.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 15px;
}

.text-prod {
    text-align: center;
    margin-top: 3%;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3em;
}

#Qualidade > h2 {
    margin-left: 50px;
    font-family: "Lobster", sans-serif;
}

.peru {
    border-radius: 20px;
    border: 3px solid #AD7E17;
    text-align: justify;
    padding: 15px;
    margin-top: 15px;
    margin-left: 50px;
    margin-bottom: 15px;
    display: inline-block;
    line-height: 2em;
    font-size: 1em;
    columns: 2;
}

.mostruario {
    display: block;
    width: 590px;
    height: 200px;
    background-image: url(../imagens/transição/peruana.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    padding-left: 5px;
}

.dup {
    border-radius: 20px;
    border: 3px solid #AD7E17;
    text-align: justify;
    padding: 15px;
    margin-top: 15px;
    margin-left: 50px;
    display: inline-block;
    line-height: 2em;
    font-size: 1em;
    columns: 2;
}

.mostruario2 {
    display: block;
    width: 590px;
    height: 200px;
    background-image: url(../imagens/transição/malha-30.1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    padding-left: 5px;
}

footer {
    box-shadow: inset 0px 0px 13px 0px white;
    display: block;
    height: 300px;
    width: 100%;
    background-color: black;
    margin-top: 100px;
}

#container-fot {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.logo-pe {
    width: 200px;
    height: 200px;
    background-image: url(../imagens/logo-sozinha.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 4%;
    animation: rodando 1.5s infinite alternate;
}
.swiper-container {
    width: 100%;
    height:400px;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

img {
    max-height: 100%;
    width: 100vw;
    height: 400px;
    object-fit: cover;
}
video {
    max-height: 100%;
    height: 400px;
    object-fit: cover;
}

@keyframes rodando {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.letras-f {
    margin-top: 13%;
    color: rgb(219, 223, 7);
    font-size: 3em;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
    
    .swiper-container {
        height: 250px; /* Altura ajustada para telas menores */
        width: 100%;
    }

   
    header {
        height: 200px;
    }

    .titulo-baner {
        flex-direction: column;
        align-items: center;
    }

    .h1-baner {
       display: none;
    }

    #banner-container {
        margin-bottom: 50%;
        margin-left: 0;
        width: 100%;
        height: 300px;
    }

    .baner-img {
        border: none;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        border: 2px solid black;
        
    }

    .artigo {
        margin-top: 20px;
        padding: 0 10px;
    }

    .artigo > h1 {
        margin-top:10%;
        font-size: 2em;
    }

    .artigo > p {
        width: 98%;
        height: auto;
        columns: 1;
        margin-left: 0;
    }

    menu {
        margin-top: 50px;
        display: block;
        width: 100%;
        height: 30px;
    }

    menu > ul > li {
        width: 100%;
        text-align: center;
    }

    .text-prod {
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 3em;
    }

    .peru {
        width: 97%;
        border-radius: 20px;
        border: 3px solid #AD7E17;
        text-align: justify;
        padding: 15px;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        display: inline-block;
        line-height: 2em;
        font-size: 1em;
        columns: 2;
    }
    .mostruario {
        display: block;
        width: 200px;
        height: 90px;
        background-image: url(../imagens/transição/peruana.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px;
        padding-left: 5px;
    }
    .dup {
        width: 97%;
        border-radius: 20px;
        border: 3px solid #AD7E17;
        text-align: justify;
        padding: 15px;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
        display: inline-block;
        line-height: 2em;
        font-size: 1em;
        columns: 2;
    }
    
    .mostruario2 {
        display: block;
        width: 200px;
        height: 90px;
        background-image: url(../imagens/transição/malha-30.1.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5px;
        padding-left: 5px;
    }
    .logo-pe {
        width: 50px;
        height: 50px;
        background-image: url(../imagens/logo-sozinha.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        display: inline-block;
        margin-top: 4%;
        animation: rodando 1.5s infinite alternate;
    }
    .letras-f {
        margin-top: 08%;
        color: rgb(219, 223, 7);
        font-size: 20px;
    }
    footer {
        box-shadow: inset 0px 0px 13px 0px white;
        display: block;
        height: 100px;
        width: 100%;
        background-color: black;
        margin-top: 100px;
    }
    

   
   
}